<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sajjad Ebrahimi Moghaddam - Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Sajjad E. Moghaddam</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#research">Research Areas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="#teaching">Teaching</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Home Section -->
   
   <section id="hero-slideshow" class=" d-flex align-items-center justify-content-end text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <h1 class="display-4">Welcome to My Portfolio</h1>
            <p class="lead ">Exploring Sustainable Solutions in Metal Recycling</p>
            <a href="#projects" class="btn btn-primary btn-lg mt-3">View My Projects</a>
        </div>
    </section> 

  <!-- Hero Collage Section -->
<section id="hero-collage"  style="background-color: #f8f9fa;">
    <div class="mycontainer text-center">
        <!-- <h1 class="display-4 mb-4 ">Exploring Metal Recycling Innovations</h1>
        <p class="lead mb-5 ">Showcasing sustainable solutions through research and innovation.</p> -->
        <div class="collage-container">
            <div class="overlay d-flex justify-content-center align-items-center">
                <div class="container d-flex  justify-content-center align-items-center flex-column">
                    <h1 class="display-4 shadow">Welcome to My Portfolio</h1>
                    <p class="lead  shadow">Exploring Sustainable Solutions in Metal Recycling</p>
                    <a href="#projects" class="btn btn-primary btn-lg mt-3">View My Projects</a>
                </div>
            </div>
            <div class="row g-3 nodisplay h-100" id="firstrow">
                <div class="col-md-6 h-100">
                    <div class="position-relative">
                    <img src="static/img/hero1.jpg" class="img-fluid rounded shadow-sm h-100" alt="Research Image 1">

                    </div>
                </div>
                <div class="col-md-6 extra h-100">
                    <div class="position-relative">
                    <img src="static/img/hero2.jpg" class="img-fluid rounded shadow-sm h-100" alt="Research Image 1">

                    </div>
                </div>
            </div>
            <div class="row g-3 h-100"  id="secondrow" >
                <div class="col-md-4 d-flex align-items-center">
                    <div class="position-relative">
                    <img src="static/img/hero3.jpg" class="img-fluid rounded shadow-sm" alt="Research Image 1">
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center extra">
                    <div class="position-relative ">
                    <img src="static/img/hero4.jpg" class="img-fluid rounded shadow-sm" alt="Research Image 1">
                    </div>
                </div>
                <div class="col-md-4  d-flex align-items-center extra">
                    <div class="position-relative">
                    <img src="static/img/hero5.jpg" class="img-fluid rounded shadow-sm" alt="Research Image 1">
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</section>

    <!-- About Me Section -->
    <section id="about" class="py-5">
        <div class="container">
            <h2 class="text-center">About Me</h2>
            <h5>
                <br> I'm Sajjad Ebrahimi Moghaddam. a 25-year-old enthusiast of material science and a curious explorer of the world. Also, a research assistant at University of Tehran.</span>
            </h5>
            <p class="text-left" style="text-align: justify;">
                Majoring in material science, I am currently working on my thesis for a postgraduate (master's) degree. I am passionate about research in various fields, such as nanomaterials (particularly graphene oxide), adsorption, recycling, and waste management.
                <br>   
                As I’ve worked part-time/freelance while studying, I have acquired the ability to multitask and organize my schedule efficiently. Additionally, learning skills beyond my major, specially programming, has significantly enhanced my problem-solving abilities. I have also had the opportunity to be part of different research teams and projects, which has improved my teamwork skills.
                <br>
                
            </p>
            <div class="text-center mt-3">
                <a href="/static/files/resume.pdf" class="btn btn-secondary">Download Resume</a>
            </div>
        </div>
    </section>

    <!-- Research Areas Section -->
    <section id="research" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center">Research Areas</h2>
            <ul class="list-group list-group-flush mt-4 text-center">
                <li class="list-group-item">Gold adsorption using synthesized reduced graphene oxide (rGO)</li>
                <li class="list-group-item">Li-ion battery electrolyte recovery</li>
                <li class="list-group-item">REEs recovery from red mud and monazite using microwave-assisted techniques</li>
                <li class="list-group-item">Heavy metal adsorption for water purification</li>
                <li class="list-group-item">REEs recovery from Nd magnets and purification using rGO</li>
            </ul>
        </div>
    </section>

    <!-- Projects Section -->
     <section class="py-5" id="projects">
        <div class="container">
            <h1 class="text-center">Projects</h1>
            <div class="row">
                {% for project in projects %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="{{ project.image_url }}" class="card-img-top" alt="{{ project.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description[:100] }}...</p>
                            <a href="/project/{{ project.id }}" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Work experience Section -->
    <section id="teaching" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center">Work Experience</h2>
            <p class="text-center">Here are some of my work experiences:</p>
            {% for work in works %}
            <div class="card mt-2">
                <div class="card-header">
                  <b>{{work.title}}</b>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>{{work.description}}</p>
                    <footer class="blockquote-footer">{{work.date}} at <a href="{{work.link}}" target="_blank" >{{work.place}}</a></footer>
                  </blockquote>
                </div>
              </div>
              {% endfor %}
              
        </div>
    </section>

    <!-- Contact Section -->
    <section class="py-5" id="contact">
        <div class="container" style="width: 70%;">
          
            <h2 class="text-center">Contact Me</h2>
              {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="container mt-3">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="/contact" method="POST" class="mt-4">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </section>
    

    <!-- Footer -->
    <footer class="bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5>Contact Info</h5>
                    <p>Address: University of Tehran, Tehran, Iran</p>
                    <p>Phone: +98 123 456 7890</p>
                    <p>Email: sajjad@example.com</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Follow Me</h5>
                    <a href="https://wa.me/981234567890" target="_blank" class="text-white me-3">
                        <i class="bi bi-whatsapp" style="font-size: 1.5rem;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/sajjad" target="_blank" class="text-white me-3">
                        <i class="bi bi-linkedin" style="font-size: 1.5rem;"></i>
                    </a>
                    <a href="mailto:sajjad@example.com" target="_blank" class="text-white me-3">
                        <i class="bi bi-envelope" style="font-size: 1.5rem;"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UC123456" target="_blank" class="text-white me-3">
                        <i class="bi bi-youtube" style="font-size: 1.5rem;"></i>
                    </a>
                </div>
                <div class="col-md-4 mb-3 text-center">
                    <h5>&copy; 2024 Sajjad E. Moghaddam</h5>
                    <p>All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/app.js" defer></script>

</body>
</html>
